<header>
  <div class="container">
    <a id="a-title" href="{{ '/' | relative_url }}">
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
    </a>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2>

    <!-- Thêm liên kết Facebook và GitHub -->
    <div class="social-links">
      <a href="https://www.facebook.com/nhan.trongnguyen.3133/" target="_blank" rel="noopener">🔵Facebook</a>
    </div>

    <section id="downloads">
      <a href="{{ site.github.repository_url }}" class="btn btn-github">
        <span class="icon"></span>View on GitHub
      </a>
    </section>
  </div>
</header>
